* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #035;;
}

.password-container {
    width: 400px;
    min-height: 100px;
    padding: 16px;
    background-color: #069;
    box-shadow: 0px 0px 5px #fffa;
    text-align: center;
    color: #fff;
}

.password-title {
    margin-bottom: 15px;
    font-size: 2em;
    font-weight: 600;
}
.password-display {
    width: 100%;
    margin-bottom: 10px;
    position: relative;
}
.password-display input {
    width: 100%;
    height: 40px;
    padding: 5px 10px;
    background-color: #035;
    border: none;
    outline: none;
}
.password-settings {
    width: 100%;
}
.password-gen-btn {
    width: 100%;
    padding: 5px;
    background-color: #08b;
    border: none;
    outline: none;
    font-size: 1.4em;
    font-weight: 600;
}
