* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #035;;
    font-family: sans-serif, Arial;
}

button {
    width: 100%;
    min-height: 30px;
    font-size: 1.35em;
    font-weight: 600;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    transition: scale 200ms ease-in-out;
}
button:hover {
    mix-blend-mode: multiply;
}
button:active {
    scale: 0.8;
}

.password-container {
    max-width: 600px;
    min-height: 100px;
    padding: 32px;
    background-color: #069;
    box-shadow: 0px 0px 5px #0008;
    text-align: center;
    color: #fff;
}

.password-title {
    margin-bottom: 15px;
    font-size: 2em;
    font-weight: 600;
}
.password-display {
    width: 100%;
    margin-bottom: 10px;
    position: relative;
}
.password-display input {
    width: 100%;
    height: 40px;
    padding: 5px 10px;
    background-color: #035;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1.5em;
}
.password-settings {
    width: 100%;
    text-align: left;
}
.field {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}
.field input[type="number"] {
    width: 50px;
}
